<?xml version="1.0" encoding="UTF-8"?>
<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>Bookstore Order Service</display-name>
	<servlet>
		<servlet-name>OrderService</servlet-name>
		<servlet-class>hu.bme.mit.borlay.microservice.order.Reserve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderService</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
</web-app>
